.root{

    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-padding: 20;
    -fx-min-width: 450;
    -fx-background-image: url("mapBW.png");
    -fx-pref-width: 900 ;
    -fx-pref-height: 587;
   /* -fx-pref-width: 450;
    -fx-pref-height: 300;*/


}

VBox {

    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-padding: 20;

}

/* 3 Drawn cards to be revealed */
#drawCards{
    -fx-alignment: center;
    -fx-spacing: 40;
}

HBox{

    -fx-spacing: 40;
    -fx-alignment: center;
    -fx-padding: 20;

}
.locomotive{
    -fx-fill: mediumturquoise;
}


